.modal-90w {
  max-width: 90%;
}

.register-section {
  flex: 0 0 60%;
  background-color: #004736;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-section {
  flex: 0 0 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.google-login-button {
  background-color: #db4437;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #c23321;
  }

  svg {
    margin-right: 8px;
  }
}