.SceneScreen-container {
  width: 100%;
  height: 100vh;
  position: relative;

  .scene-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #004736;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .loading-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
  }

  .buttons {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: transparent;

    button {
      padding: 10px;
      border: none;
      border-radius: 50%;
      background-color: #004736;
      color: white;
    }
  }

  .map-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; // Colocar o mapa de fundo atrás do modelo 3D
    opacity: 0.2; // Aplicar transparência ao mapa de fundo
  }

  .map-widget-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    height: 200px;
    border: 2px solid #004736;
    z-index: 15;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: width 0.3s, height 0.3s;

    &.collapsed {
      width: 40px;
      height: 40px;
    }

    .toggle-button {
      position: absolute;
      top: 5px;
      left: 5px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
      z-index: 10;
      background-color: white;
      color: #004736;
      border-radius: 5px;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .map-container {
      width: 100%;
      height: 100%;
    }
  }
}