.voice-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .voice-button {
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #004736;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  
    &.listening {
      transform: scale(1.2);
    }
  }
  
  .voice-button-container p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
  }
  