.habitatConfig-container {
    width: 30%;
    height: calc(100% - 20px);
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;

    .form-group {
      width: 100%;
      margin-bottom: 15px;
    }
    
    .form-label {
      font-weight: bold;
      color: #555;
    }
    
    .form-control {
      border-radius: 3px;
      border: 1px solid #ddd;
      padding: 10px;
      font-size: 14px;
    }
    
    .btn-primary {
      background-color: #004736;
      border-color: #004736;
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
    
  }
  
