.reviews-container {
    width: 30%;
    height: calc(100% - 20px);
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto; 

    .review-card {
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
      }
      
      .review-question {
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .review-response {
        margin-bottom: 10px;
      }
      
      .review-rating {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
      }
      
      .review-timestamp {
        font-size: 0.9em;
        color: gray;
      }  
  }
  
