.sceneConfig-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 71, 54, 0.8); /* Fundo verde com opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .loading-text {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
  }
}