.listHabitats-container {
  width: 30%;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow-y: auto;
  z-index: 10;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .habitats-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .habitat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e0e0e0;
    }

    .delete-button {
      background-color: red;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 3px;
      font-weight: normal;
    }
  }
}